@use '@angular/material' as mat;

#chat-container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: end;
  max-width: 600px;
}

#messages {
  width: calc(100% - 20px);
  flex-grow: 8;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#input {
  padding: 10px;
  background-color: blueviolet;
  width: calc(100% - 20px);
}

