@use '@angular/material' as mat;
$theme: mat.define-theme();

#chat-container {
  background-color: var(--mat-sys-primary-container);
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: end;
  max-width: 600px;
}

#messages {
  width: calc(100% - 20px);
  flex-grow: 8;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

#input {
  padding: 10px;
  background-color: var(--mat-sys-secondary-container);
  width: calc(100% - 20px);
}

